Source: sphinxcontrib-jquery
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Dmitry Shachnev <mitya57@debian.org>
Homepage: https://github.com/sphinx-contrib/jquery
Build-Depends: debhelper-compat (= 13),
               dh-python,
               flit (>= 3.7),
               pybuild-plugin-pyproject,
               python3-all,
               python3-pytest,
               python3-sphinx (>= 1.8)
Rules-Requires-Root: no
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/python-team/packages/sphinxcontrib-jquery.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/sphinxcontrib-jquery
Testsuite: autopkgtest-pkg-pybuild

Package: python3-sphinxcontrib.jquery
Architecture: all
Depends: libjs-jquery (>= 3.6.0), ${misc:Depends}, ${python3:Depends}
Description: extension to include jQuery on newer Sphinx releases
 sphinxcontrib-jquery ensures that jQuery is always installed for use in
 Sphinx themes or extensions.
 .
 To use it, add sphinxcontrib.jquery as a Sphinx extension.
